services:
  dnsmasq:
    image: conner0512/dnsmasq:last
    container_name: dnsmasq
#    network_mode: "host"  
    networks:
      - bridge  
    ports:
     - "67:67/udp"
    volumes:
      - ./dnsmasq.conf:/etc/dnsmasq.conf
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

networks:
  bridge:
    driver: bridge 
